body {
    width: 960px;
    margin: auto;
    text-align: center;
    background-color: cadetblue;
}    

cursor {
    cursor: pointer;
}

hr {
    width: 80%;
}

input {
    text-align: center;
    width: 35%;
}

::placeholder {
    text-align: center;
    font-weight: 500;
}

#mainDiv {
    display: flex;
    flex-wrap: wrap;
}

.error {
    margin-left: 300px;
    color: rgb(188, 10, 10);
    font-size: x-large;
    font-weight: bold;
}

.bandPanel {
    width: 31.33%;
    padding: 20px 8px 5px 8px;
    border: 1px gray solid;
}

.cToPlay {
    color: brown;
}