
body {
    width: 1000px;
    margin: auto;
    text-align: center;
    background-color: cadetblue;
}    

cursor {
    cursor: pointer;
}

#player {
}

hr {
    width: 75%;
    margin-right: 9em;
}

input {
    text-align: center;
    width: 35%;
}

::placeholder {
    text-align: center;
    font-weight: 500;
}

#mainDiv {
    display: flex;
    flex-wrap: wrap;
}

.bandPanel {
    width: 30%;
    padding: 20px 8px 5px 8px;
    border: 1px gray solid;
}